@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    overflow: none;
}

.imagem-principal{
    width: 288px;
    height: 350px;
}

.titulo-destaque{
    color: #22d4fd;
}

.apresentacao{
    padding: 4% 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* A classe que abraça todo o conteúdo, você configura a largura de acordo com o projeto, e o espaçamento entre os elementos fica aqui!!!! */
.apresentacao__conteudo{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-sizing: border-box;
}

.apresentacao__conteudo__titulo{
    font-family: Krona One;
    font-size: 26px;
}

.apresentacao__conteudo__texto{
    font-family: Montserrat;
    font-size: 17px;
    font-weight: light;
}

.apresentacao__links__titulo{
    font-family: Krona One;
    font-size: 18px;
    text-align: center;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}

.apresentacao__links__link{
    width: 230px;
    height: 50px;
    border: 2px solid #22d4fd;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.apresentacao__links__link img{
    height: 32px;
    width: 32px;
}

/* .rodape{
    font-family: Montserrat;
    font-size: 18px;
    background-color:#22d4fd;
    width: 100%;
    height: 40px;
    color: black;
    position: static;
} */

.rodape{
    color: black;
    background-color: #22d4fd;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.menu a{
    text-decoration: none;
    color: #22d4fd;
    font-size: 24px;
    font-family: Montserrat;
}

.menu li{
    list-style: none;
}

.menu{
    display:flex;
    justify-content:flex-start;
    margin: 2% 20%;
    gap: 80px;
}

a:hover{
    background-color: #2f2f2f;
}